@model CreateWorkBindModel
@{
    ViewData["Title"] = "Create";
}

<div class="row page-header">
    <div class="col-md-2 col-md-offset-2">
        <h2>Create</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProjectNameId"></label>
                <button id="btn-add-project" class="btn btn-success btn-add btn-xs" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add new project
                </button>

                
                <select asp-for="ProjectNameId" asp-items="Model.ProjectNameList" class="form-control"></select>
                <span asp-validation-for="ProjectNameId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkDate"></label>
                <input asp-for="WorkDate" class="form-control" />
                <span asp-validation-for="WorkDate" class="text-danger"></span>
            </div>

            <a asp-action="List" class="btn btn-default">Back</a>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>


<div class="row">
    <div id="modal-project-save" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-custom-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Add new project</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-danger-fade-project">Error</div>
                            <div class="alert alert-success alert-success-fade-project">Success</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <input id="project-id" type="text" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-3 text-center">
                            <button id="btn-project-save" class="btn btn-sm btn-success">Add</button>
                        </div>

                        <div class="col-xs-7 text-center">

                            <button class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(document).ready(function () {
            $('.alert-danger-fade-project').hide();
            $('.alert-success-fade-project').hide();


            $('#btn-add-project').click(function () {
                $('#modal-project-save').modal();
            });


            // add project
            $('#btn-project-save').click(function () {
                var projectName = $('#project-id').val();

                AddProject(projectName);

            });

            function AddProject(projectName) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddProject", "Projects")',
                    data: { projectName: projectName },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: successFuncAddProject,
                    error: errorFuncAddProject
                });
            }

            function successFuncAddProject(data) {
                if (data == 0) {
                    $('.alert-danger-fade-project').fadeIn(3000, function () {
                        $('.alert-danger-fade-project').fadeOut(1000);
                        $('#modal-project-save').modal('hide');
                    });
                }
                else {
                    $('.alert-success-fade-project').fadeIn(3000, function () {
                        $('.alert-success-fade-project').fadeOut(1000);
                        $('#modal-project-save').modal('hide');
                    });

                    ReloadProjectSelectList();


                    
                    //location.reload(); 
                }
            }

            function errorFuncAddProject() {
                alert("Error");
            }

            //add data to ProjectSelect list

            function ReloadProjectSelectList() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReloadProjectDropDownList", "Projects")',
                    //data: { schoolSubjectIds: schoolSubjectIds },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: successFuncProject,
                    error: errorFuncProject
                });
            }

            function successFuncProject(data) {

                    // fill schoolSubject Drop Down

                if (data == 0) {

                }
                else {
                    var myJsonProject = JSON.parse(data);

                    if (myJsonProject.length == 0) {
                        $('select[name=ProjectNameId]').empty();

                    } else {
                        $('select[name=ProjectNameId]').empty();

                        for (var i = 0; i < myJsonProject.length; i++) {

                            $("<option />",
                                {
                                    value: myJsonProject[i].id,
                                    text: myJsonProject[i].title
                                }
                            ).appendTo('select[name=ProjectNameId]');
                        }

                    }

                    
                }

                
            }

            function errorFuncProject() {
                alert("Error");
            }

        });

    </script>
}