@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Leave and Work System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Leave</h2>
        <p>
            Create a leave request.
        </p>
        <p><a asp-action="Create" asp-controller="@GlobalConstString.ControllerLeaves" class="btn btn-default">Create New</a></p>
    </div>

    <div class="col-md-4">
        <h2>Work Notes</h2>
        <p>
            Create a work notes by days, months, years.
        </p>
        <p><a asp-action="Create" asp-controller="@GlobalConstString.ControllerWorks" class="btn btn-default">Create New</a></p>
    </div>

</div>
